.float-box {
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0;
    background: #60c2ef;
    cursor: pointer;

    position: relative;
    transition: all 1s;
}

.float-box span {
    color: blue;
    transition: color 1s;
}

.float-box.ng-enter {
    transform: translateY(60px);
}

.float-box.ng-enter-active {
    transform: translateY(0);
}

.float-box.ng-enter span {
    color: red;
}

.float-box.ng-enter-active span {
    color: blue;
}

.float-box.ng-leave {
    transform: translateX(0);
    opacity: 1;
}

.float-box.ng-leave-active {
    transform: translateX(180px);
    opacity: 0;
}

.float-box.ng-leave span {
    color: blue;
}

.float-box.ng-leave-active span {
    color: red;
}